AuthType Basic
AuthName "Welcome to pandas show"
AuthUserFile /htdocs/reports.naucmese.cz/web/.htpasswd
Require valid-user

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

DirectoryIndex index.php
